{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item mt-2" aria-current="page">
        <a href="{% url 'books:book-list'%}">Book list</a></li>
    <li class="breadcrumb-item active mt-2" aria-current="page">
        {{ book.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="row">

    <main class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">{{ book.title }}</div>
            <img src="{{book.cover.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Published: {{ book.publication_date }}</p>
            </div>
                <div class="card-footer">
                <a href="#" style="color: black; background-color: darkorange" class="btn btn-warning btn-block ">
                        Add to cart</a>
                </div>
        </div>
    </main>

    <aside class="col-md-8">
        <div class="card">
          <div class="card-header">
            Table of contents
          </div>
            <ul class="list-group list-group-flush">
                {% for chapter in book.chapter_set.all %}
                    <li class="list-group-item mt-2">
                        <a href="{{ chapter.get_url }}">
                            {{ chapter.chapter_number }}. {{ chapter.title }}
                        </a>
                        {% if user.is_staff %}

                        <button class="btn btn-danger float-right ml-2">
                            <a style="color: white" href="{% url 'books:delete-chapter' chapter.id %}">
                                Delete</a></button>
                        <button class="btn btn-secondary float-right ml-2">
                            <a style="color: white" href="{% url 'books:update-chapter' chapter.id %}">
                                Update</a></button>


                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
    </div>
{% endblock %}
{#style="display: inline-block;float: right#}

{#        <li><a href="{% url 'books:chapter-detail' book.slug chapter.chapter_number %}"> {{ chapter.title }}</a></li>#}
{#        {% for chapter in book.chapter_set.all %}#}
{#            <div class="card">#}
{#            <div class="card-body">#}
{#                <a href="{{ chapter.get_url }}">#}
{#                {{ chapter.chapter_number }}. {{ chapter }}#}
{#                </a>#}
{#            </div>#}
{#            </div>#}
{##}
{#        {% endfor %}#}