{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item active" aria-current="page">Book List</li>
</ol>
</nav>
{% endblock breadcrumb %}

{% block content %}

<h4 style="color: dodgerblue; font-weight: bold; font-size: x-large" class="text-center">I'll take you to the Python Shop</h4>
<hr />

<div class="row">
{% for book in query_set %}
<div class="col-4">
    <div class="card mt-3 mb-4" style="width: 100%;">
        <div class="card-body">
            <h4 class="card-title">{{ book.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ book.publication_date }}</h6>
            <p class="card-text">
                {% for author in book.authors.all %}
                    <span>{{ author }}</span>
                    {% if book.authors.count > 1 %} | {% endif %}
                {% endfor %}
            </p>
            <a href="{{ book.get_url }}" class="card-link">{{ book }}</a>
        </div>
    </div>
    {% if request.user.is_staff %}
        <div class="card-footer bg-light">
            <a class="btn btn-secondary btn-block mb-2" style="color: white"
               href="{% url 'books:update-book' book.slug %}"> Update</a>
            <a class="btn btn-danger btn-block mb-2" style="color: white"
               href="{% url 'books:delete-book' book.slug %}"> Delete</a>
        </div>
    {% endif %}
</div>
{% endfor %}
</div>

{% endblock content %}