<div class="container">
  <nav class="navbar navbar-expand-lg rounded" style="color: white; font-weight: bold; background-color: darkviolet">
    <a style="color: chartreuse" class= "navbar-brand" href="{% url 'books:book-list' %}">PyShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
      {% if request.user.is_staff %}
 <li class="nav-item">
                  <a style="color: white" class="nav-link " href="{% url 'books:logout' %}">Logout</a>
              </li>
          <div class="dropdown">
  <button class="btn btn-warning dropdown-toggle text-secondary"  type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><strong> Add menu </strong>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item"><a href="{% url 'books:add-author' %}"> Add Author</a></button>
      <button class="dropdown-item"><a href="{% url 'books:add-book' %}"> Add Book</a></button>
      <button class="dropdown-item"><a href="{% url 'books:add-chapter' %}"> Add Chapter</a></button>
      <button class="dropdown-item"><a href="{% url 'books:add-exercise' %}"> Add Exercise</a></button>
      <button class="dropdown-item"><a href="{% url 'books:add-solution' %}"> Add Solution</a></button>
  </div>
          </div>
      {% endif %}
          {% if user.is_authenticated and not user.is_staff %}
              <li class="nav-item">
                  <a style="color: white" class="nav-link " href="{% url 'books:logout' %}">Logout</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'books:summary' %}">
                      <i class="fas fa-shopping-cart text-white"></i>
                  </a>
              </li>
          {% elif not user.is_authenticated %}
              <li class="nav-item">
                  <a style="color: white" class="nav-link" href="{% url 'books:login' %}">Login</a>
              </li>
              <li class="nav-item">
                  <a style="color: white" class="nav-link" href="{% url 'books:registration' %}">Sign Up</a>
              </li>
          {% endif %}
          </ul>
    </div>
          {% if user.is_authenticated %}
              <li class="form-inline my-2 my-lg-0">
                  <span style="color: chartreuse; font-weight: bold" class="ml-3">Hello, {{ user.username | title}}!</span>
              </li>
          {% endif %}
  </nav>
</div>