{% extends "base.html" %}
   <div class="container col-sm-8 col-sm-offset-2 mt-5">

{% block content %}
    <h1>Order Summary</h1>
    <hr/>

   <table class="table table-hover table-bordered text-center ">
       <thead>
       <th> Item </th>
       <th>Price</th>
       <th>Remove</th>
       </thead>
       <tfoot>
        <tr>
       <td colspan="3">
           <a href="{% url 'books:book-list' %}" class="btn btn-warning">
               Continue Shopping
           </a>
       </td>
   </tr>
       </tfoot>
       {% for item in order.items.all %}
       <tr>
           <td>{{ item.book.title }}</td>
           <td>$ {{item.book.price }}</td>
           <td><span><a href="{% url 'books:remove-from-cart' item.book.slug %}">
               <i style="color: red" class="fas fa-trash"></i></a></span></td>
       </tr>
       {% empty %}
           <tr>
               <td colspan="3"><h4>There are no items in your cart. Please, keep shopping :)</h4>
               </td>
           </tr>
       {% endfor %}
   {% if order.get_total %}
   <tr>
           <td><strong>Total: </strong> </td>
       <td><strong>$ {{ order.get_total }} </strong></td>
       </tr>
{% endif %}
   </table>
    </div>
{% endblock %}